@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }

body {
  overflow: hidden;
  background-color: #F4F5FB
}
.container {
  margin-top: 85px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.center{
    text-align: center;
    margin-top: 20px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="EnterName"] {
  margin-bottom:10px;
  border-bottom-right-radius: 5;
  border-bottom-left-radius: 5;
}
.color-swatches {
  display: inline-block;
  padding:20px 0;
  text-align: center;
  width: 100%;
}
.color-swatches .brand-primary {
    background-color: #337ab7;
}
@media (min-width: 768px)
.color-swatch {
    width: 100px;
    height: 100px;
}

.color-swatch {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    border-radius: 3px;
    background-color: red;
}
